/* import file */
@import url(../css/grid.css);

/*-----------------------------------
    PC low & Tablet large resolution
-----------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {

    /* banner */
    .banner {
        width: 800px;
    }
}

/*-----------------------------------
 <= Tablet resolution 
-----------------------------------*/
@media (max-width: 1199px) {

    /* banner page windows */
    .download-content {
        font-size: 17px;
    }

    .download-content a {
        font-size: 14px;
        padding: 8px 15px;
    }

    .download-img {
        bottom: 30px;
    }

    .download-img img {
        width: 200px;
    }
}

@media (max-width: 991px) {
    .menu-btn {
        display: block;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .nav-right ul {
        position: fixed;
        z-index: 99;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 80px 0 0;
        background: var(--primary-color);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }

    .nav-right>ul>li {
        display: block;
        padding: 20px 0;
        margin-right: unset;
    }

    .nav-right>ul>li>a {
        color: var(--white-color);
        font-size: 20px;
    }

    .nav-right ul.active {
        right: 0;
    }

    /* btn-game */
    .btn-game {
        bottom: unset;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
    }
}

/*------------------------------------
    Tablet
----------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {

    /* navbar */
    .nav-left img {
        width: 100px;
    }

    /* banner */
    .banner {
        width: 590px;
    }
}

/*------------------------------------
    Mobile & Mobile landscape
----------------------------------*/
@media (max-width: 767px) {

    /* navbar */
    .nav-left img {
        width: 90px;
    }

    .menu-btn {
        font-size: 25px;
    }

    /* banner */
    .banner-mobile {
        display: none;
    }

    /* btn-game */
    .btn-game {
        display: none;
    }

    /* general styling */
    .header-title h2 {
        font-size: 20px;
    }

    .btn-info {
        flex-direction: column;
    }

    .btn-info>div {
        padding: 0 0 10px;
    }

    .btn-all,
    .btn-more {
        padding: 5px 10px;
    }

    .cursor-collection__items h3 {
        font-size: 14px;
    }

    /* banner page window */
    .banner-page__content {
        flex-direction: column;
    }

    /* footer */
    footer {
        text-align: center;
    }

    .footer-links li {
        padding: 5px 0 5px;
    }
}