/* genral styling */
section {
    background: var(--background-color);
    padding: 30px 0;
}

/* banner section styling */
.banner {
    margin: 0 auto;
    width: 1000px;
}

.banner img {
    width: 100%;
    height: auto;
}

/* new cursor packs, top cursor packs, outer space styling */
.header-title {
    text-align: center;
    padding: 0 0 30px;
    font-weight: 900;
}

.header-title span {
    color: var(--primary-color);
}

.header-title h2 {
    position: relative;
    font-size: 25px;
    padding: 0 0 10px;
}

.header-title h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 15%;
    background: var(--purposes-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header-title h3 {
    font-size: 15px;
    padding: 10px 0 0;
}

.header-title h3 span {
    color: var(--primary-color);
}

.cursor__items {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 0;
    height: 300px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cursor__items:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
    top: -10px;
}

.cursor__items:hover .cursor__items-name {
    color: var(--primary-color);
}

.cursor__items:hover .favorite-cursor {
    opacity: 1;
}

.favorite-cursor {
    position: absolute;
    z-index: 2;
    top: -2px;
    right: 10px;
    width: 32px;
    height: 40px;
    text-align: center;
    color: var(--white-color);
    background: var(--purposes-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.favorite-cursor:hover {
    background: var(--primary-color);
}

.favorite-cursor i {
    font-weight: 900;
    padding-top: 7px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cursor__items-name {
    text-align: center;
    color: var(--black-color);
    font-weight: bold;
    padding: 15px;
    flex: 1 0 auto;
}

.cursor__items-img {
    margin: 0 auto;
}

.cursor__items-img img {
    width: 100%;
    height: 150px;
}

.items-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.items-btn .btn-add a {
    text-align: center;
    line-height: 30px;
    padding: 0px 10px;
    color: var(--white-color);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.items-btn .btn-add a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.items-btn .btn-add a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin-left: 1px;
}

.items-btn .btn-add a:hover {
    color: var(--text-color);
    background: var(--white-color);
}

.items-btn .btn-add a:hover:first-child {
    border-right: 2px solid var(--white-color);
}

.items-btn .btn-add a:hover:last-child {
    border-left: 2px solid var(--white-color);
}

.items-btn .btn-view a {
    display: block;
    margin-left: 10px;
    min-width: 100px;
    text-align: center;
    line-height: 30px;
    border: 2px solid var(--purposes-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.items-btn .btn-view a:hover {
    color: var(--white-color);
    background: var(--purposes-color);
}

.btn-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-all,
.btn-more {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: var(--black-color);
    border: 2px solid var(--shadow-color);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-more {
    padding: 10px 25px;
    color: var(--white-color);
    background: var(--purposes-color);
    border: 2px solid var(--purposes-color);
}

.btn-all:hover {
    color: var(--white-color);
    background: var(--purposes-color);
    border-color: var(--purposes-color);
}

.btn-more:hover {
    color: var(--purposes-color);
    background: var(--white-color);
}

/* All cursor collection styling */
.cursor-collection__items a {
    position: relative;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cursor-collection__items a img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cursor-collection__items a::before {
    content: "";
    position: absolute;
    background: var(--black-color);
    opacity: 0.4;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cursor-collection__items h3 {
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 900;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.cursor-collection__items:hover a::before {
    background: var(--purposes-color);
    opacity: 0.8;
}

/* banner page styling */
.banner-page {
    background: var(--white-color);
    position: relative;
}

.banner-page::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    background: url(../images/banner-page/banner-page-before.png) 50% no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 60px;

}

.banner-page__content {
    display: flex;
    align-items: center;
}

.banner-page__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-page__content-text p {
    padding: 10px 20px;
}

.banner-page__download {
    background: url(../images/banner-page/banner-page-bg.jpg) no-repeat 50%;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 40px 50px;
    bottom: -30%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 10px 15px var(--shadow-color);
}

.download-content {
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
}

.download-content p {
    padding: 0 0 10px;
}

.download-content p:nth-child(2) {
    font-size: 18px;
}

.download-content a {
    display: inline-block;
    margin-right: 10px;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.download-content a i {
    margin-right: 10px;
}


.download-content a:hover {
    background: var(--white-color);
    color: var(--purposes-color);
}

.download-img {
    position: absolute;
    right: 10%;
    bottom: 0px;
}

.download-img img {
    width: 250px;
}

/* --------------------------
    Cursor Collection Page
  ---------------------------- */
.header-title.header-collection {
    font-size: 30px;
}

.header-title.header-collection h3 {
    font-size: 12px;
    padding: 10px 15% 0;
}

.cursor__collection-img {
    width: 90%;
}

.cursor__collection-img img {
    position: relative;
    border-bottom: 2px solid var(--shadow-color);
}

.collection-cursor__items-name {
    text-align: center;
    padding: 5px 10px;
}

.collection-cursor__items-name h4 {
    font-weight: bold;
}

.collection-cursor__items-name p {
    font-size: 13px;
    padding: 0 10px;
}

.cursor__items:hover h4 {
    color: var(--primary-color);
}

.items-btn>div:first-child {
    display: flex;
}

.collection__btn-add a {
    display: block;
    text-align: center;
    padding: 6px 15px;
    color: var(--white-color);
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.collection__btn-add:hover a {
    color: var(--primary-color);
    background: var(--white-color);
}

.collection-cursor__items-name+.items-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.collection-share i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--shadow-color);
    border: 1px solid var(--shadow-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.collection-share {
    position: relative;
}

.collection-share>i:hover {
    color: var(--text-color);
    background: var(--shadow-color);
}

.collection-share__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 105%;
    left: 50%;
    padding: 10px;
    background: var(--white-color);
    z-index: 2;
    box-shadow: 0 5px 20px var(--shadow-color);
    transform-origin: bottom;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translate(-50%, -10px) scale(0);
    -webkit-transform: translate(-50%, -10px) scale(0);
    -moz-transform: translate(-50%, -10px) scale(0);
    -ms-transform: translate(-50%, -10px) scale(0);
    -o-transform: translate(-50%, -10px) scale(0);
}

.collection-share__content::before {
    content: "";
    position: absolute;
    right: 22px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--white-color);
}

.collection-share>i:hover+.collection-share__content,
.collection-share__content:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-85%, -10px) scale(1);
    -webkit-transform: translate(-85%, -10px) scale(1);
    -moz-transform: translate(-85%, -10px) scale(1);
    -ms-transform: translate(-85%, -10px) scale(1);
    -o-transform: translate(-85%, -10px) scale(1);
}

.collection-share__content .contact-items i {
    color: var(--text-color);
    background: var(--shadow-color);
    margin-right: 5px;
}

.collection-share__content .contact-items i:hover {
    background: var(--purposes-color);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.pagination a {
    font-weight: bold;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px 10px 0;
    background: var(--white-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.pagination a.active-pagination {
    color: var(--white-color);
    background: var(--purposes-color);
}

.pagination a:hover {
    color: var(--white-color);
    background: var(--purposes-color);
}


/* Download page styling */
.download-btn {
    display: block;
    background: var(--primary-color);
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}